*{
    margin: auto;
    padding: 0;
    /*font-family: Arial, Helvetica, sans-serif;*/

    
}
#main-body{
    height: 2000px;
    width: 100%;
    background-color: black;
}

#manu{
    float: left;
    width: 100%;
    height:120px;
    background-color: red;

    position: sticky;
	top:0px;
}
.logo{
    width: 30%;
    float:left;
    height:120px;
    background-color: #000;
}
.logo img{
    margin-left: 70px;

    height: 120px;
    float: left;
   
    
}
.manu{
    width: 70%;
    float:right;
    height:120px;
    background-color:#000;
}
.manu ul{
    float: right;
    margin-right: 30px;
}
.manu ul li{
    padding: 10px 15px 10px 15px;
    margin: 47px 20px 20px 20px;

    color: #fff;
    background-color: rgb(53, 43, 43);

    font-size: 25px;
    font-weight: bold;
    list-style-type: none;
    text-align: right;

    display: inline-block;
    border-radius: 10px;

}
.manu ul li:hover{
    background-color: #252526;
    transition: .60s all ease;
}



.ads1{
    float: left;
    background-color: #000;
    height: 25px;
    width: 100%;
    position: sticky;
	top:120px;
}


#body{
    float: left;
    width: 100%;
    height:2000px;
    background-color: #fff;
    
}
#body .wapper{
    margin: 0,auto;
    width: 1200px;
    height: 2000px;
    background-color: #D8C0C4;
}

#body .wapper .redeem-section{
    height: 1200px;
    width: 100%;

    background-color: aqua;
    

}
#body .wapper .redeem-section .redeem-section-p{

    text-align: center;
    font-size: 25px;
}

#body .wapper .redeem-section .redeem-code{
    
    margin: 25px 12.5px 12.5px 25px;

    height: 300px;
    width: 30%;
    float: left;
    border-radius: 20px;

    background-color: #fff;
}

#body .wapper .redeem-section .redeem-code p{

    text-align: center;
    font-size: 30px;
    color: #000;
    font-weight: bold;
}

#body .wapper .redeem-section .redeem-code button{
    padding: 10px 30px;
    margin-left: 100px;
    margin-top: 50px;
    border-radius: 15px;
    font-size: 20px;
    font-weight: bold;
    
}

#body .wapper .redeem-section .redeem-code button:hover{
    background-color: aqua;
    transition: .70s all ease;
}

#body .wapper .other-offer{
    width: 100%;
    height: 800px;
    background-color: #fff;
}

#body .wapper .other-offer .ads-earn{
    width: 100%;
    height: 300px;
    background-color: rgb(247, 102, 102);

}

#body .wapper .other-offer .ads-earn .ads-earn1{
    width: 35%;
    height: 300px;
    background-color: blue;
    float: left;

}
#body .wapper .other-offer .ads-earn .ads-earn1 img{
    background-size: cover;
    height: 300px;
}

#body .wapper .other-offer .ads-earn .ads-earn2{

    width: 75%;
    height: 300px;
    background-color: ;
    float: left;

}


#body .wapper .other-offer .play-games{
    width: 100%;
    height: 500px;
    background-color: rgb(46, 13, 13);

}















#footer{
    float: left;
    width: 100%;
    height:100px;
    background-color: rgb(56, 18, 145);
}





